.App {
    text-align: center;
    font-family: monospace;
    background-color: rgb(232, 232, 234);
    color: rgb(11, 4, 4);
  }
  
  .App-header {
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }