.cardland {
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.page_class {
    width: 50%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}